body {
    width: 100%;
    height: 100%;
    position: fixed;
}

a {
    text-decoration: none;
}

a:hover {
    color: #1a0dab;
}

.mb-3 {
    margin-bottom: 2rem!important;
}

input {
    font-size: 16px!important;
    font-weight: 800!important;
}

/* プログレスバー */
.demo_main {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: 100%;
    width: 100%;
    z-index: 100;
    background: rgb(0,0,0,.5);
}

.demo_main .demo_main_content {
    height: 100%;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.demo_loading img {
    width: 150px;
    height: 150px;
}

.demo_loading p {
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    color: #fff;
    margin: 10px auto;
}

.demo_main .demo_main_content #demo {
    width: 600px;
    height: 30px;
}

.demo_main .demo_main_content #demo svg {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.loop_dot span {
    animation: pyon 0.3s linear;
    position: relative;
}

@keyframes pyon {
    0% {top: 0}
    50% {top:-10px}
    100%{top: 0}
}

/* 画像追加プログレスバー */
.progress_main_box.create_form_progress {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 100;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgb(0,0,0,.6);
}

.progress_main_box.create_form_progress img {
    width: 150px;
    height: 150px;
}

.progress_main_box.create_form_progress .loading_title p {
    font-size: 30px;
    font-weight: 800;
    color: #fff;
    margin: 10px auto;
}

.progress_main_box.create_form_progress .progress_bar {
    width: 600px;
    height: 35px;
    background: rgb(0, 195, 159);
    border-radius: 30px;
}

.progress_main_box.create_form_progress .progress_bar p {
    width: 0%;
    background: rgb(255, 241, 0);
    height: 35px;
    border-radius: 30px;
    margin: 0px;
}

/* エラータグ */
.errorlist {
    padding: 0;
    margin: 10px auto;
}

.errorlist li {
    list-style: none;
    font-size: 12px;
    font-weight: 800;
    color: red;
}

/* ヘッダーデザイン */

nav.bg-dark {
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0;
    z-index: 100;
}

.main_nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main_nav .nav_type {
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main_nav .nav_type.manager {
    width: 400px;
}

.top_logo {
    margin-right: 10px;
}

.top_logo a img {
    width: 130px;
    height: auto;
}

.main_nav .nav_type .navbar-nav {
    width: 100%;
    justify-content: space-around;
}

.main_nav .nav_type .navbar-nav li a {
    text-decoration: none;
    color: rgba(255,255,255,.5);
}

.main_nav .nav_type .navbar-nav li a:hover {
    color:#fff;
}

.main_nav .search_box .search_text {
    width: 250px;
    border-radius: 5px;
    height: 40px;
    font-size: 15px;
    font-weight: 800;
    padding: 0 10px;
}

.main_nav .search_box .submit_button {
    border: none;
    width: 70px;
    height: 35px;
    border-radius: 10px;
    box-shadow: 0 1px 2px #fff;
    font-weight: 800;
    font-size: 16px;
    cursor: pointer;
    margin: auto 10px;
}

.main_nav .search_box .submit_button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 3px #fff;
}

.search_box {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.search_box.login_user {
    width: 450px;
}

.login_icon span {
    font-size: 17px;
    font-weight: 800;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 30px;
    padding: 5px;
    box-shadow: 0 1px 2px #fff;
}

/* ログイン画面 */
.main_login_form {
    position: relative;
    width: 100%;
    height: 100vh;
}

.row_login {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    height: 400px;
    width: 400px;
    border-radius: 5px;
    border: 2px solid rgb(242, 242, 242);
    box-shadow: 0 1px 2px;
    background: rgb(242, 242,242);
}

.login_title {
    height: 70px;
    display: flex;
    background: rgb(30,144,255);
    /* margin: 20px auto;
    margin-bottom: 0px; */
}

.login_title p {
    margin: auto;
    font-size: 20px;
    font-weight: 800;
    color: #fff;
    font-weight : 800;
}

.row_login form {
    height: 75%;
}

.row_login form .card-body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding:0px;
}

.row_login form .card-body .form_login_field {
    width: 85%;
}

.row_login form .card-body .form_login_field .login_input {
    text-align: center;
    margin: 10px auto;
}

.row_login form .card-body .form_login_field .login_input label {
    font-size: 16px;
    font-weight: 800;
}

.row_login form .card-body .form_login_field .login_input input {
    font-weight: 800;
}

.login_bt {
    width: 70%;
    border: none;
    background: rgb(30,144,255);
    color: #fff;
    font-weight: 800;
    box-shadow: 0 1px 2px #222;
}

/* ブログトップ画面のタイトルデザイン */

.blog_title.container {
    height: 350px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.blog_title.container p {
    font-size: 30px;
    font-weight: 800;
    border-bottom: 3px solid rgb(211, 222, 241);
    width: 50%;
}

.blog_title.container .blog_sub_comments span {
    font-size: 17px;
    font-weight: 800;
}

.blog_title.container .blog_sub_comments p {
    font-size: 16px;
    line-height: 2.0em;
    margin: auto;
    width: 100%;
    border-bottom: 0px;
}

.blog_title_top_box {
    background-color: #e9ecef;
    margin-bottom: 50px;
}


/* ブログの中身デザイン */
.article_view_all {
    width: 80%;
    margin: auto;
    background-color: #e9ecef;
    height: 50px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 30px
}

.article_view_all a {
    text-decoration: none;
}

.article_view_all p {
    margin: auto 20px;
    font-size: 17px;
    font-weight: 800;
    color: #222;
}

.article_view_all p a {
    color: #0066c0;
    margin: auto 5px;
}

.article_view_all p a:hover {
    color: #1a0dab;
}

.article_view_all p span {
    margin: auto 5px;
}

.article_view_all a p {
    margin: auto 20px;
    font-size: 17px;
    font-weight: 800;
    color: #0066c0;
}

.article_view_all a p:hover {
    color: #1a0dab;
}

.main_content {
    position: relative;
}

.artcle_content_block {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.box_management {
    width: 60%;
}

.artcle_content_block .card.mb-3.main_blog {
    width: 100%;
    position: relative;
}

.delete_label {
    width: 80px;
    position: absolute;
    top: -25px;
    right: 10px;
    background: rgb(255, 75, 0, .8);
    border-radius: 5px 5px 0 0;
    text-align: center;
    color: #fff;
    height: 25px;
}

.delete_label span {
    font-size: 16px;
    font-weight: 800;
}

.artcle_content_block .card.mb-3.main_blog.info {
    width: 60%;
}

.card.main_blog .row .badge-secondary {
    width: 100%;
    height: 70px;
    max-height: 300px;
    padding: 10px;
    padding-left: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.card .row .badge-secondary h1 {
    font-size: 25px;
    font-weight: 800;
    margin: 0;
}

.card_comment_box {
    display: flex;
    align-items: flex-start;
}

.card_comment_box.info {
    width: 100%;
}

.artcle_content_block .card .row .card_comment_box .col-md-4 {
    padding: 0;
}

.card .row .col-md-8 .card-body {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.card .row .col-md-8 .card-body .card-text {
    margin-bottom: 10px;
}

.card .row .col-md-8 .card-body .card-text span a {
    color : #fff;
    text-decoration: none;
}

.card.main_blog .row .col-md-8 .card-body .card-text.sub_info span {
    background-color: #6c757d;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 13px;
    font-weight: 800;
    color: #fff;
}

.card.main_blog .row .col-md-8 .card-body .card-text.sub_info.topic span {
    border-radius: 10px;
}

.card .row .col.main_box .card-body {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.card .row .col.main_box .card-body .card-text {
    margin-bottom: 10px;
}

.card .row .col.main_box .card-body .card-text.topic span a {
    color : #fff;
    text-decoration: none;
}

/* .card .row .col.main_box .card-body .card-text.topic span a:hover {

} */

.card .row .col.main_box .card-body .card-text.topic span.tag {
    margin-right: 10px;
}

.card.main_blog .row .col.main_box .card-body .card-text.sub_info span {
    background-color: #6c757d;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 13px;
    font-weight: 800;
    color: #fff;
    cursor: pointer;
}

.card.main_blog .row .col.main_box .card-body .card-text.sub_info.topic span {
    border-radius: 10px;
    cursor: pointer;
}

.text_box_card {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    border-top: 2px solid #6c757d;
    padding-top: 20px;
}

.text_box_card.manager {
    flex-direction: column;
}

.text_box_card a {
    text-decoration: none;
    outline: none;
}

.text_box_card a button {
    width: 200px;
    border-radius: 10px;
    color: #222;
    font-size: 18px;
    font-weight: 800;
    height: 45px;
    border: 3px solid rgb(211, 222, 241);
    cursor: pointer;
    outline: none;
}

.text_box_card a button:hover,
.text_box_card.manager .button_boxes form button:hover {
    transform: scale(1.1);
    background-color: rgb(211, 222, 241);
}

.text_box_card.manager .button_boxes {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 15px;
    width: 100%;
    border-top: 2px dashed rgb(211, 222, 241);
    padding-top: 15px;
}

.text_box_card.manager .button_boxes a,
.text_box_card.manager .button_boxes form {
    width: 120px;
}

.text_box_card.manager .button_boxes a button,
.text_box_card.manager .button_boxes form button {
    width: 120px;
    height: 35px;
    font-size: 16px;
    border-radius: 10px;
    color: #222;
    font-weight: 800;
    border: 3px solid rgb(211, 222, 241);
    cursor: pointer;
    outline: none;
}

.card-body.menu_tabs {
    padding: 0px;
}

.card-body.menu_tabs ul {
    padding: 0;
    margin: 0;
}

.card-body.menu_tabs ul li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.card-body.menu_tabs ul li a {
    text-decoration: none;
    color: #0066c0;
}

.card-body.menu_tabs ul li a:hover {
    color: #1a0dab;
}

.card-body.menu_tabs ul li .count {
    width: 30px;
    border-radius: 50px;
    background: rgb(211, 222, 241);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 10px;
}

.card-body.menu_tabs ul li .count .count_text {
    font-weight: 800;
}

.sub_window {
    width: 20%;
    height: 100%;
}

.card-header.badge-secondary span {
    font-weight: 800;
}

/* 最近1週間の記事一覧 */
.bottom_article_tile_link {
    min-height: 450px;
    max-height: 750px;
    width: 65%;
    margin: auto;
    margin-top: 100px;
}

.bottom_article_tile_link aside .list-group {
    margin-bottom: 0rem!important;
    padding: 0;
}

.bottom_article_tile_link aside .list-group ul {
    padding: 0;
    margin: 0;
}

.bottom_article_tile_link aside .list-group ul li.list-group-item {
    font-weight: 800;
}

.bottom_article_tile_link aside .list-group ul li.article_text_link {
    list-style: none;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 30px;
    background: #e9ecef;
    margin: 7px 0;
    cursor: pointer;
    transition: 1.0s;
    border-radius: 0px 5px 0 5px;
}

.bottom_article_tile_link aside .list-group ul li.article_text_link a {
    text-decoration: none;
}

.bottom_article_tile_link aside .list-group ul li.article_text_link:hover {
    transform: scale(1.1);
    box-shadow: 0 0 5px #e9ecef;
}

.bottom_article_tile_link aside .list-group ul li.article_text_link.active:hover {
    transform: scale(.9);
}

/* 記事詳細画面 */
.main_article_info_block {
    margin: 30px auto;
}

.image_block img {
    width: 100%;
    height: auto;
}

.article_info.contents {
    margin: 50px 0;
}

.sub_title_block {
    margin: 20px auto;
}

.sub_title_block p {
    font-size: 25px;
    font-weight: 800;
    margin: auto;
}

.main_article_contents {
    margin: 25px auto;
}

.main_article_contents p {
    margin: auto;
    font-size: 16px;
    font-weight: 500;
}

.card-footer {
    margin-top: 100px ;
}

.card-footer div ul {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

.card-footer div ul li {
    width: 100%;
    height: auto;
    word-break: break-all;
    list-style: none;
    margin: 5px auto;
}

.card-footer div ul li a {
    font-size: 16px;
    text-decoration: none;
    color: #0066c0;
}

.card-footer div ul li a:hover {
    color: #1a0dab;
    text-decoration: underline #ffa500;
}

.artcle_content_block .card.mb-3.all_tags .no-gutters {
    border-bottom: 2px solid rgb(211, 222, 241);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 20px;
    border-radius: .25rem;
}

.artcle_content_block .card.mb-3.all_tags .no-gutters p {
    margin: 0;
}

.artcle_content_block .card.mb-3.all_tags .no-gutters p a {
    text-decoration: none;
    transition: 1s;
}

.artcle_content_block .card.mb-3.all_tags .no-gutters p a:hover {
    font-size: 17px;
}

/* 管理者画面 */
/* 物件作成 */

.error_field {
    width: 100%;
    height: 100%;
}

.row form {
    width : 100%;
}

.contents_sub_title.input_form {
    width: 100%;
}

.card-text.sub_info.topic.input_form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 15px auto!important;
}

.card-text.sub_info.topic.input_form input {
    margin-bottom: 5px;
}

.select_box.title_box img {
    width: 25px;
    height: 25px;
    margin: auto 5px;
    cursor: pointer;
}

.select_box.title_box img:hover {
    transform: scale(1.1);
}

.select_box.title_box span {
    background-color: #6c757d;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 13px;
    font-weight: 800;
    color: #fff;
    margin: auto 10px;
}

.select_box.title_box.confirm {
    margin : 10px auto;
}

.select_box.title_box.confirm span {
    font-size: 16px;
    font-weight: 800;
    color: #6c757d;
    background-color: #fff!important;
}

.select_box.title_box select {
    height: 35px;
    cursor: pointer;
}

.main_article_contents.input_form textarea{
    font-weight: 800;
    letter-spacing: 1px;
    resize: none;
}

.sub_title_block.input_form,
.image_block.input_form {
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.image_block.input_form {
    height: auto!important;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.image_block.input_form input {
    margin: 10px auto;
}

.main_article_contents.input_form {
    height: 310px;
    flex-direction: column;
    justify-content: space-around;
    display: flex;
}

.more_information p {
    font-size: 18px;
    font-weight: 800;
    margin: 0;
}

.more_information p a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.more_information p a img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

.content_block p {
    display: flex;
    align-items: center;
}

.content_block p span {
    background-color: #6c757d;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 13px;
    font-weight: 800;
    color: #fff;
    margin: auto 10px;
}

.content_block p input {
    width: 15%;
    border: none;
    text-align: center;
}

.main_article_contents .textarea_box {
    position: relative;
}

.main_article_contents .textarea_box .add_something_area {
    position: absolute;
    bottom: -35px;
    right: 30px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content:space-around;
}

.main_article_contents .textarea_box .add_something_area .button_area {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main_article_contents .textarea_box .add_something_area div span {
    font-size: 16px;
    font-weight: 800;
}

.main_article_contents .textarea_box .add_something_area .add_link,
.main_article_contents .textarea_box .add_something_area .strong_text {
    border: none;
    border-radius: 30px;
    background: #e9ecef;
    color: #0066c0;
    width: 80px;
    height: 30px;
    font-weight: 800;
    box-shadow: 0 1px 2px;
    cursor: pointer;
    outline: none;
}

.main_article_contents .textarea_box .add_something_area .button_area button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 5px #e9ecef;
}

.card-footer div.tmp_file_box{
    margin-bottom: 10px;
}

.card-footer div p {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.card-footer div input {
    margin-bottom: 5px;
}

.card-footer div p img {
    width: 20px;
    height: 20px;
    margin: 0 5px;
    cursor: pointer;
}

.card-footer div p img:hover {
    transform: scale(1.1);
}

.sub_title_block.input_form .select_box.title_box {
    margin-bottom: 5px;
}

.img_pre {
    display: none;
    text-align: center;
}

.img_pre.view {
    display: block;
}

.img_pre img {
    width: 200px;
    height : 200px;
}

.error_message {
    display: none;
}

.input_button_area {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input_button_area input {
    text-align: center;
    width: 180px;
    height: 35px;
    border: none;
    background: #e9ecef;
    border-radius: 30px;
    box-shadow: 0 1px 2px;
    cursor: pointer;
    outline: none;
}

.input_button_area input:hover {
    transform: scale(1.1);
    box-shadow: 0 0 5px #e9ecef;
}

.card .row .col.main_box .card-body.insert_article {
    flex-direction: initial;
    align-items: flex-start;
    justify-content: space-around;
}

.card .row .col.main_box .card-body.insert_article .contents_sub_title.input_form {
    width: 45%;
}

.card .row .col.main_box .card-body.insert_article .sub_image_box {
    width: 45%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
}

.sub_image_input {
    height: 80px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
}

.sub_image_input.confirm {
    height: 30px;
}

.sub_image_input .icon {
    background-color: #6c757d;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 13px;
    font-weight: 800;
    color: #fff;
    margin: auto 10px;
}

.sub_image_view {
    margin: 10px auto;
}

.sub_image_view img {
    width: 150px;
    height: 150px;
}

#id_pre_image {
    display: none;
}

#id_sub_preimage {
    display: none;
}

/* 投稿確認画面 */

.badge-secondary .title_text_confirm {
    margin: 0;
    font-weight: 800;
}

.input_button_area form .form_value_list {
    display: none;
}

.content_block.confirm p {
    font-size: 16px;
    font-weight: 800;
}

.sub_title_block.confirm p {
    font-size: 16px;
    margin: 10px;
}

.main_article_contents.input_form.confirm {
    overflow: auto;
    justify-content: flex-start;
}

.main_article_contents.confirm .textarea_box {
    margin: 10px;
    height: 100%;
    overflow: auto;
}

.main_article_contents.confirm .textarea_box p {
    font-weight: 800;
    word-break: break-all;
}

.img_pre.confirm {
    display: block;
}

.input_button_area.confirm {
    justify-content: space-around;
}

.input_button_area.confirm form {
    width: auto;
}

/* トップへのアイコン */
.page_top {
    position: fixed;
    bottom: 200px;
    right: 35px;
    display: none;
}

.page_top img {
    cursor: pointer;
    animation: key1 .3s ease infinite alternate;
}

.page_top:hover {
    transform: scale(1.1);
}

@keyframes key1{
  0% {transform: translateY(0px);}
  100% {transform: translateY(-10px);}
}

/* メッセージポップ */
.messages {
    position: absolute;
    top: 0;
    z-index: 100;
    width: 90%;
    right: 0;
    left: 0;
    margin: auto;
    padding: 0;
}

.messages li {
    list-style: none;
    margin: 0;
    font-size: 18px;
    font-weight: 800;
    text-align: center;
}

/* フッター */

footer {
    position: absolute;
    width: 100%;
    z-index: 100;
    bottom: 0;
    height: 70px;
    display: none;
    background: #e9ecef;
}

footer div .copy {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 321px;
    height: 25px;
}

