{% extends 'apps/base.html' %}
{% load static %}
{% block content %}

<div class="article_block">
    <div class="blog_title_top_box">
        <div class="blog_title container">
            <p>あさたいブログ</p>
            <div class="blog_sub_comments">
                <span>[ひとこと]</span>
                <p>どうも、あさたいです。新しく自分の記録用ブログを設けました。<br>プログラミング関連の記事を掲載していきます。</p>
            </div>
        </div>
    </div>
    <div class="artcle_content_block">
        <div class="card mb-3 main_blog">
            <div class="row no-gutters">
                <div class="badge-secondary">
                    <h1>テストコメント</h1>
                </div>
                <div class="card_comment_box">
                    <div class="col-md-8">
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="text_box_card">
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                <a href="#">
                                    <button type="button" class="read_more">記事を読む</button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img src="{% static 'img/top3.jpg' %}" class="card-img" alt="...">
                    </div>
                </div>
            </div>
        </div>
        <div class="sub_window">
            <div class="sub_window_tab">
                <div class="card bg-light mb-3">
                    <div class="card-header badge-secondary">
                        <span class="sub_card_title">Header</span>
                    </div>
                    <div class="card-body menu_tabs">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <a href="#">
                                    準備中
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a href="#">
                                    準備中
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a href="#">
                                    準備中
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="sub_window_tab">
                <div class="card bg-light mb-3">
                    <div class="card-header badge-secondary">
                        <span class="sub_card_title">Header</span>
                    </div>
                    <div class="card-body menu_tabs">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <a href="#">
                                    準備中
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a href="#">
                                    準備中
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a href="#">
                                    準備中
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}