{% extends 'apps/base.html' %}
{% load static %}
{% block content %}

{% if user.is_authenticated %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %} alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endif %}

<div class="box_management">
    {% if not user.is_authenticated %}
        {% for x in table %}
            {% if x.delete_flag is False %}
            <div class="card mb-3 main_blog">
                <div class="row no-gutters">
                    <div class="badge-secondary">
                        <h1>{{x.title}}</h1>
                    </div>
                    <div class="card_comment_box">
                        <div class="col-md-8">
                            <div class="card-body">
                                <div class="contents_sub_title">
                                    <p class="card-text sub_info">
                                        {% for y in date %}
                                            {% if y.id == x.id %}
                                                {% if y.day == "today"%}
                                                    <span>Today</span>
                                                {% else %}
                                                    <span>約 {{y.day}} 日前</span>
                                                {% endif %}
                                                <span>{{x.created_at}}</span>
                                            {% endif %}
                                        {% endfor %}
                                    </p>
                                    <p class="card-text sub_info topic">
                                        <span>
                                            <a href="#">
                                                {% for z in tags %}
                                                    {% if z.id == x.tags %}
                                                        {{z.name}}
                                                    {% endif %}
                                                {% endfor %}
                                            </a>
                                        </span>
                                    </p>
                                </div>
                                <div class="text_box_card{% if user.is_authenticated %} manager{% endif %}">
                                    <a href="{% url 'apps:info' x.pk %}">
                                        <button type="button" class="read_more">記事を読む</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <img src="{{ctx_proc_value}}{{x.image}}" class="card-img" alt="...">
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    {% else %}
        {% for x in table %}
            <div class="card mb-3 main_blog">
                {% if x.delete_flag %}
                    <div class="delete_label">
                        <span>削除中</span>
                    </div>
                {% endif %}
                <div class="row no-gutters">
                    <div class="badge-secondary">
                        <h1>{{x.title}}</h1>
                    </div>
                    <div class="card_comment_box">
                        <div class="col-md-8">
                            <div class="card-body">
                                <div class="contents_sub_title">
                                    <p class="card-text sub_info">
                                        {% for y in date %}
                                            {% if y.id == x.id %}
                                                {% if y.day == "today"%}
                                                    <span>Today</span>
                                                {% else %}
                                                    <span>約 {{y.day}} 日前</span>
                                                {% endif %}
                                                <span>{{x.created_at}}</span>
                                            {% endif %}
                                        {% endfor %}
                                    </p>
                                    <p class="card-text sub_info topic">
                                        <span>
                                            <a href="#">
                                                {% for z in tags %}
                                                    {% if z.id == x.tags %}
                                                        {{z.name}}
                                                    {% endif %}
                                                {% endfor %}
                                            </a>
                                        </span>
                                    </p>
                                </div>
                                <div class="text_box_card{% if user.is_authenticated %} manager{% endif %}">
                                    <a href="{% url 'apps:info' x.pk %}">
                                        <button type="button" class="read_more">記事を読む</button>
                                    </a>
                                    {% if user.is_authenticated %}
                                        <div class="button_boxes">
                                            <a href="#">
                                                <button type="button" class="remake_button">編集</button>
                                            </a>
                                            {% if x.delete_flag %}
                                                <form action="{% url 'apps:delete' %}" method="POST">
                                                    <input type="hidden" name="article_id" id="id" value="{{x.id}}">
                                                    <button type="button" class="delete_button">復活</button>
                                                    {% csrf_token %}
                                                </form>
                                            {% else %}
                                                <form action="{% url 'apps:recovery' %}" method="POST" class="form_article_delete">
                                                    <input type="hidden" name="article_id" id="id" value="{{x.id}}">
                                                    <button type="button" class="delete_button">削除</button>
                                                    {% csrf_token %}
                                                </form>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <img src="{{ctx_proc_value}}{{x.image}}" class="card-img" alt="...">
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>


{% endblock %}

{% block extrajs %}

<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
            }
        }
        return cookieValue;
    }

    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    $(function(){
        $(".form_article_delete").each(function(){
            $(this).submit(function(e){
                console.log("click")
                e.preventDefault();
                $.ajax({
                    'url': "{% url 'apps:delete' %}",
                    'type': 'POST',
                    'data': {
                        'article_id': $(this).find('#id').val(),
                    },
                    'dataType': 'json',
                }).done(function( reponse ) {
                    if ("{{user.is_authenticated}}" == "False") {
                        $(this).parents(".main_blog").remove();
                    } else {
                        $(this).parents(".main_blog").prepend(
                            '<div class="delete_label">\
                                <span>削除中</span>\
                            </div>'
                        );
                    }
                });
                return false
            });
        });
    });

    $(function(){
        if ( $(".messages").length) {
            setTimeout(function(){
                $('.messages').animate({"top": "-100px"}, 2000, 'linear', function() {
                    $(".messages").fadeOut();
                });
            },3000);
        }
    });
</script>

{% endblock %}